/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('../static/background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
#logo-esgi {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* ou la taille que vous souhaitez */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #002f6c; /* Bleu marine */
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}